/.BPMN2LanguageConstants.java._trace
/.BPMN2LanguageConstants.xtendbin
/.BPMN2QualifiedNameProvider.java._trace
/.BPMN2QualifiedNameProvider.xtendbin
/.BPMN2RuntimeModule.java._trace
/.BPMN2RuntimeModule.xtendbin
/.BPMN2StandaloneSetup.java._trace
/.BPMN2StandaloneSetup.xtendbin
/BPMN2LanguageConstants.java
/BPMN2QualifiedNameProvider.java
/BPMN2RuntimeModule.java
/BPMN2StandaloneSetup.java
